.post-info-bottom{
    display : flex;
    color :#757575 !important;
    .separator{
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        line-height: 20px;
    }
    .category{
        color : #757575 !important;
        font-size: 80%;
    }
    .category:after {
        content: '·';
    }
    .category:last-child::after {
        content: ' ';
    }
}